@media screen and (min-width: 601px) {
}

@media screen and (max-width: 600px) {
}

body {
  cursor: url('images/cursor.png') 16 16, auto;
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.card h1 {
  margin: 0%;
  font-size: clamp(20px, 8vw, 400px);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* Ligne 1 (1-2-3)
.rarity-row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
} 
  
/* Blocs
.rare {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  min-width: 120px;
}

.hidden {
  display: none;
}

/* Style spécial rareté 5
#rare5 {
  color: gold;
  font-weight: bold;
} */
